<!-- ~~~ !TEMPLATE DRIVEN APPROACH! ~~~ -->
<form [formGroup]='form' (ngSubmit)='onFormSubmit(form)'>
  <div id="book-data">
    <!-- Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" class="form-control" formControlName='title' />
      <span style="color: red;" *ngIf="!form.get('title').valid && form.get('title').touched"
      >Please select a valid title </span>
    </div>

    <!-- Author -->
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" id="author" name="author" class="form-control" formControlName='author'/>
      <span style="color: red;" *ngIf="!form.get('author').valid && form.get('author').touched"
      >Please select a valid author</span>
    </div>

    <!-- Genre -->
    <div class="form-group">
      <label for="genre">Genre</label>
      <select id="genre" name="genre" class="form-control" formControlName='genre'>
        <option value="mystery">Mystery</option>
        <option value="self-help">Self-Help</option>
        <option value="fantasy">Fantasy</option>
        <option value="science-fiction">Science Fiction</option>
      </select>
      <span style="color: red;" *ngIf="!form.get('genre').valid && form.get('genre').touched"
      >Please select a valid genre </span>
    </div>

    <!-- isBestSeller -->
    <div class="form-group">
      <p>Is this book a best seller?</p>

      <!-- True -->
      <input type="radio" id="true" name="isBestSeller" value="true" formControlName='isBestSeller' />
      <label for="true" class="mr-3">True</label>

      <!-- False -->
      <input type="radio" id="false" name="isBestSeller" value="false" formControlName='isBestSeller' />
      <label for="false">False</label>
    </div>

    <!-- Submit Button -->
    <button class="btn btn-warning" type="submit">Submit</button>
  </div>
</form>

<div class="container" *ngIf='formSubmitted'>
  <ul class="list-group">
    <li class="list-group-item">{{ form.value.title }}</li>
    <li class="list-group-item">{{ form.value.author }}</li>
    <li class="list-group-item">{{ form.value.genre }}</li>
    <li class="list-group-item">{{ form.value.isBestSeller }}</li>
  </ul>
</div>
