<!-- ~~~ !TEMPLATE DRIVEN APPROACH! ~~~ -->
<form (ngSubmit)="onFormSubmit(templateFormRef)" #templateFormRef="ngForm">
  <div id="book-data">
    <!-- Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        #titleRef="ngModel"
        [(ngModel)]="bookTitle"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="!titleRef.valid && titleRef.touched"
        >Please enter a valid title!</span
      >
    </div>

    <!-- Author -->
    <div class="form-group">
      <label for="author">Author</label>
      <input
        type="text"
        id="author"
        name="author"
        class="form-control"
        #authorRef="ngModel"
        ngModel
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="!authorRef.valid && authorRef.touched"
        >Please enter a valid email!</span
      >
    </div>

    <!-- Genre -->
    <div class="form-group">
      <label for="genre">Genre</label>
      <select
        id="genre"
        name="genre"
        class="form-control"
        #genreRef="ngModel"
        [ngModel]="'mystery'"
        required
      >
        <option value="mystery">Mystery</option>
        <option value="self-help">Self-Help</option>
        <option value="fantasy">Fantasy</option>
        <option value="science-fiction">Science Fiction</option>
      </select>
      <span
        class="help-block text-danger"
        *ngIf="!genreRef.valid && genreRef.touched"
        >Please enter a valid genre!</span
      >
    </div>

    <!-- isBestSeller -->
    <div class="form-group">
      <p>Is this book a best seller?</p>

      <!-- True -->
      <input type="radio" id="true" name="isBestSeller" value="true" ngModel />
      <label for="true" class="mr-3">True</label>

      <!-- False -->
      <input
        type="radio"
        id="false"
        name="isBestSeller"
        value="false"
        ngModel
      />
      <label for="false">False</label>
    </div>

    <!-- Submit Button -->
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!templateFormRef.valid"
    >
      Submit {{ bookTitle }}
    </button>
  </div>
</form>

<hr />

<!-- RESULTS -->
<div class="row mt-4" *ngIf="formHasBeenSubmitted">
  <div class="col-xs-12">
    <h3>Title: {{ bookDetails.title }}</h3>
    <h4>Author: {{ bookDetails.author }}</h4>
    <p>Genre: {{ bookDetails.genre }}</p>
  </div>
</div>
